%h3
  %center People
%br/
.row-fluid.projects
  - @people.each do |person|
    .col.col-sm-12.col-md-6.col-lg-4
      .card.project
        .card-content.black-text
          %span.card-title
            = "#{person.first_name} #{person.last_name}"
        - if current_person.manager?
          .card-action
            = link_to("More", person_skills_path(:id => person.id))
            %br/
            = link_to("Make Manager", make_manager_path(:manager_id => person.id)) if !person.manager
            = link_to("Current Manager", '#') if person.id == current_person.id
            = link_to("Demote Manager", demote_manager_path(:manager_id => person.id)) if person.manager and person.id != current_person.id
= render partial: "floating_add_project_button"
