<style>
  blockquote {
    font-size: 11pt;
  }
  
  .comment {
    box-shadow: -3px 2px 5px #888888;
    padding: 12px 0px 5px 12px;
    margin-top: 8px;
  }
</style>

<h5><%= @event.title %></h5>
<p><%= @event.description %></p>
<br>

<div class="comments">
  <% @event.comments.each do |comment| %>
    <div class="comment">
      <h6><%= "#{comment.person.first_name} #{comment.person.last_name}" if comment.person.present? %> on <%= comment.created_at.localtime.strftime("%B %d, %Y") %></h6>
      <blockquote><%= comment.content %></blockquote>
    </div>
  <% end %>
</div>
<br>
<%= render 'form' %>

<div class="fixed-action-btn horizontal">
  <%= link_to project_path(@project), class: "btn-floating btn-large red" do %>
    <i class="material-icons">keyboard_arrow_left</i>
  <% end %>
</div>

<br>
<br>