<%= stylesheet_link_tag 'projects' %>


<h5><%= @project.title %></h5>
<p>
  |
  <% @project.people.each do |person| %>
    <%= person.first_name %>&nbsp;<%= person.last_name %>&nbsp;|
  <% end %>
</p>

<%= link_to "Edit Project Settings", edit_project_path(@project) %>

<section id="cd-timeline" class="cd-container">

    <% @events.each do |event| %>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img <%= event.complete? ? "cd-green" : "cd-red" %>">
        </div>
        <div class="cd-timeline-content">
          <h5><%= event.title %></h5>
          <blockquote class="<%= event.complete? ? "block-green" : "block-red" %>"><%= event.description %></blockquote>
          <%= link_to "Edit Event", edit_project_event_path(:id => event.id, :project_id => @project.id) %> <a>|</a>
          <%= link_to "Discuss Event (#{event.comments.count})", project_event_comments_path(:project_id => @project.id, :event_id => event.id) %> <a>|</a>
          <%= link_to "Toggle Complete", project_event_toggle_complete_path(:project_id => @project.id, :event_id => event.id) %>
          <span class="cd-date"><b>&nbsp;<%= event.deadline.strftime("%B %d, %Y") unless event.deadline.nil? %> by <%= "#{event.person.first_name} #{event.person.last_name}" if event.person.present? %></b></span>
        </div>
    <% end %>
    </div>
</section>

<div id="eventForm" class="modal fade bootbox" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render partial: 'events/form' %>
      </div>
    </div>

  </div>
</div>

<div id="eventComments" class="modal fade bootbox" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
    </div>
    
  </div>
</div>
  
<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <%= link_to :back, class: "btn-floating yellow darken-2" do %>
        <i class="material-icons">keyboard_arrow_left</i>
      <% end %>
    </li>
    <li>
      <%= link_to '#', :data => { 'toggle':'modal', 'target':'#eventForm' }, class: "btn-floating red" do %>
       <i class="material-icons">add</i>
      <% end %>
    </li>
  </ul>
</div>