<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Enter your Email Address", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, placeholder: "Enter your First Name", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, placeholder: "Enter your Last Name", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, placeholder: "Enter your Phone Number", autofocus: true %> 
  </div>

  <div class="field">
    <%= f.label :carrier %>
    <%= carrier_select('person[carrier]', "Choose your Carrier") %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Enter your Password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "Confirm Your Password", autocomplete: "off" %>
  </div>

  <div class="actions btn-group">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
  <div class="btn-group">
    <%= button_to "Log in", new_person_session_path, class: "btn" %>  
  </div>
  <br>
  <br>
<% end %>
